# For Loop
<br>
A For loop is used for iterating over a sequence( that is either a list, a tuple, a dictionary, a set or a string)

### Examples

In [2]:
fruits = ['apple', 'banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

### Looping through a string

In [6]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [10]:
states = ['kwara', 'oyo','kaduna', 'lagos']
for state in states:
    print(state[-1])

a
o
a
s

In [11]:
for i in fruits:
    print(i[-2])

l
n
r

## The break statement

In [14]:
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [18]:
for x in fruits:
    if x == "banana":
        break
        print(x)

In [20]:
print(x)

banana

In [22]:
mine= (1,2,3,4,5,6,7,8,9,10) 
for num in mine:
    print(num)
    if num == 8:
        break

1
2
3
4
5
6
7
8

In [28]:
mine= (1,2,3,4,5,6,7,8,9,10) 
for num in mine:
    print(num)
    if num >=8:
        break

1
2
3
4
5
6
7
8

## The continue statement

In [31]:
for x in fruits:
    if x == 'banana':
        continue

In [33]:
          print(x)

cherry

## The range() function

In [34]:
for a in range(15):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [36]:
for y in range(2,10,3):
        print(y)

2
5
8

### Write a code for multiplication tables

In [43]:
for i in range(0,50,4):
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48

In [44]:
for multiplication in range(1,13):
    print(multiplication*3)

3
6
9
12
15
18
21
24
27
30
33
36

In [45]:
for i in range(1,13):
    print(i*4)

4
8
12
16
20
24
28
32
36
40
44
48

In [47]:
for y in range(1,25):
    print(y*10)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240

### Else in For Loop

In [48]:
for x in range(8):
    print(x)
else:
    print("Finally finished")

0
1
2
3
4
5
6
7
Finally finished

In [49]:
for x in range(6):
    if x == 3:
        print(x)
else:
    print("Finally finished")

3
Finally finished

# Nested Loops

In [50]:
adj=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [51]:
for x in range(4):
    for y in fruits:
        print(x,y)

0 apple
0 banana
0 cherry
1 apple
1 banana
1 cherry
2 apple
2 banana
2 cherry
3 apple
3 banana
3 cherry

## The Pass Statement

In [53]:
for x in [0,1,2]:
    pass

In [69]:
dict1={'Name':['Kemi',"ayo",'dami'],'Age':[12,15,19],'Sex':["feamle",'male','female'],'Dept':['Maths','Statistics','Chemistry']}
print(dict1)

{'Name': ['Kemi', 'ayo', 'dami'], 'Age': [12, 15, 19], 'Sex': ['feamle', 'male', 'female'], 'Dept': ['Maths', 'Statistics', 'Chemistry']}

In [74]:
import pandas as pd
my= pd.DataFrame(dict1)
my

   Name  Age     Sex        Dept
0  Kemi   12  feamle       Maths
1   ayo   15    male  Statistics
2  dami   19  female   Chemistry

In [73]:
for x in dict1:
    print(x)

Name
Age
Sex
Dept